@charset "UTF-8";

/* 
Paleta de cores
Verde: #22CCC1
Cinza: #324B49
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #324B49;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    
    transform: translate(-50%, -50%);
    transition: width .3s, heigth .3s;
    transition-timing-function: ease;
}

section#login  > div#image {
    display: block;
    background: #324B49 url(../images/metal.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#form {
    display: block;
    padding: 10px;
}

div#form > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#form > p {
    font-size: 0.8em;
}

form > div.field {
    display: flex;
    align-items: center;
    background-color: #324B49;
    border: 2px solid #324B49;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

form label {
    display: none;
}

div.field > span {
    color: white;
    /*background-color: black;*/
    font-size: 1.9em;
    width: 40px;
    padding: 5px;
}

div.field > input {
    display: block;
    background-color: #72e7df;
    font-size: 1em;
    width: calc(100% - 39px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 0 10px;  
}

div.field > input:focus-within {
    background-color: white;
    border: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #22CCC1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #1fb1a7;
}

form > a.button {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #0c3d3a;
    border: 1px solid #22CCC1;
    border-radius: 7px;
    text-decoration: none;
}

form > a.button:hover {
    background-color: #78e2db;
    transition-duration: .2s;
}

form > a.button span {
    font-size: .8em;
}
